        <h2 class="title">Доходы</h2>
        <div class="categories">
            <div class="category">
                <div class="category-container">
                    <h2>Депозиты</h2>
                    <div class="button-control">
                        <a href="/income/edit"><button class="btn-edit">Редактировать</button></a>
                        <a href="/income/del"><button class="btn-delete">Удалить</button></a>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-container">
                    <h2>Зарплата</h2>
                    <div class="button-control">
                        <a href="/income/edit"><button class="btn-edit">Редактировать</button></a>
                        <a href="/income/edit"><button class="btn-delete">Удалить</button></a>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-container">
                    <h2>Сбережения</h2>
                    <div class="button-control">
                        <a href="/income/edit"><button class="btn-edit">Редактировать</button></a>
                        <a href="/income/del"><button class="btn-delete">Удалить</button></a>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="category-container">
                    <h2>Инвестиции</h2>
                    <div class="button-control">
                        <a href="/income/edit"><button class="btn-edit">Редактировать</button></a>
                        <a href="/income/del"><button class="btn-delete">Удалить</button></a>
                    </div>
                </div>
            </div>
            <div class="category">
                <a href="/income/create"><div>
                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6445 5.57812V8.54492H0V5.57812H13.6445ZM8.42188 0V14.4922H5.23633V0H8.42188Z"
                              fill="#CED4DA"/>
                    </svg>
            </div></a>
            </div>
        </div>

