
        <h2 class="title" id="page-title">Главная</h2>
        <div class="top-controls">
            <button class="btn-filter">Сегодня</button>
            <button class="btn-filter">Неделя</button>
            <button class="btn-filter">Месяц</button>
            <button class="btn-filter">Год</button>
            <button class="btn-filter">Все</button>
            <button class="btn-filter">Интервал</button>
            <div class="check-date">
                <span>c</span>
                <a href="">Дата</a>
                <span> по </span>
                <a href="">Дата</a>
            </div>
        </div>

        <div class="charts">
            <div class="card">
                <h3>Доходы</h3>
                <div class="legend">
                    <div class="item"><span class="color" style="background:#e53935"></span>Red</div>
                    <div class="item"><span class="color" style="background:#ff9800"></span>Orange</div>
                    <div class="item"><span class="color" style="background:#ffca28"></span>Yellow</div>
                    <div class="item"><span class="color" style="background:#06c2a8"></span>Green</div>
                    <div class="item"><span class="color" style="background:#1877f2"></span>Blue</div>
                </div>
                <div class="pie">
                    <div class="pie-sample"></div>
                </div>

            </div>
            <div class="card">
                <h3>Расходы</h3>
                <div class="legend">
                    <div class="item"><span class="color" style="background:#e53935"></span>Red</div>
                    <div class="item"><span class="color" style="background:#ff9800"></span>Orange</div>
                    <div class="item"><span class="color" style="background:#ffca28"></span>Yellow</div>
                    <div class="item"><span class="color" style="background:#06c2a8"></span>Green</div>
                    <div class="item"><span class="color" style="background:#1877f2"></span>Blue</div>
                </div>
                <div class="pie">
                    <div class="pie-sample"></div>
                </div>

            </div>
        </div>



