
        <h2 class="title">Доходы и расходы</h2>
        <div class="button-control">
            <a href="javascript:void(0)"><button class="btn-edit" id="btn-add-operations-income" >Создать доход</button></a>
            <a href="javascript:void(0)"><button class="btn-delete" id="btn-add-operations-expense" >Создать расход</button></a>
        </div>
        <div class="top-controls">
            <button class="btn-filter" id="btn-filter-today"    >Сегодня</button>
            <button class="btn-filter" id="btn-filter-week"     >Неделя</button>
            <button class="btn-filter" id="btn-filter-month"    >Месяц</button>
            <button class="btn-filter" id="btn-filter-year"     >Год</button>
            <button class="btn-filter" id="btn-filter-all"      >Все</button>
            <button class="btn-filter" id="btn-filter-interval">Интервал</button>
            <div class="check-date" id="check-date">
                <span>c</span>
                <input class="date-input" id="datepicker1" placeholder ="Дата" autofocus>
                <span> по </span>
                <input class="date-input"  id="datepicker2" placeholder ="Дата">
                <div class="btn-ok-interval" id="btn-ok-interval">OK</div>
            </div>

        </div>
        <div class="grid-table" id="grid-table">
        </div>

</body>
</html>
