
        <h2 class="title">Доходы и расходы</h2>
        <div class="button-control">
            <a href="javascript:void(0)"><button class="btn-edit" id="btn-add-operations-income" >Создать доход</button></a>
            <a href="javascript:void(0)"><button class="btn-delete" id="btn-add-operations-expense" >Создать расход</button></a>
        </div>
        <div class="top-controls">
            <button class="btn-filter">Сегодня</button>
            <button class="btn-filter">Неделя</button>
            <button class="btn-filter">Месяц</button>
            <button class="btn-filter">Год</button>
            <button class="btn-filter">Все</button>
            <button class="btn-filter">Интервал</button>
            <div class="check-date">
                <span>c</span>
                <a href="">Дата</a>
                <span> по </span>
                <a href="">Дата</a>
            </div>
        </div>
        <div class="grid-table" id="grid-table">
        </div>
</body>
</html>
