        <h2 class="title">Редактирование дохода/расхода</h2>
            <div class="category">
                <input class="category-input" type="text" placeholder ="Доход">
                <input class="category-input" type="text" placeholder ="Зарплата">
                <input class="category-input" type="text" placeholder ="500$">
                <input class="category-input" type="text" placeholder ="11.09.2022">
                <input class="category-input" type="text" placeholder ="Комментарий...">
                <div class="button-control">
                    <button class="btn-edit">Создать</button>
                    <a href="/operations"><button class="btn-delete">Отмена</button></a>
                </div>
            </div>
