body {
    position: relative;
}

.nav-category-menu {
    display: block;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, min(352px, 33%)));
    /*grid-template-columns: 1fr 1fr 1fr;*/
    gap: 20px;
}

.category {
    border: 1px solid #CED4DA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category h2 {
    padding-bottom: 10px;
    margin: 0;
}

.category:last-child {
    align-items: center;
    height: 120px;

}

.category-container {
    padding: 20px 0 20px 20px;
}

.button-control {
    grid-template-columns: repeat(auto-fit, minmax(200px, min(352px, 33%)));
    display: flex;
    align-items: center;
}

.btn-edit {
    background: #0d6efd;
    border-radius: 5px;
    padding: 11px 16px;
    width: 134px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: none;
    margin-right: 10px;
    height: 38px;
}

.btn-delete {
    border-radius: 5px;
    padding: 12px 16px;
    width: 88px;
    background: #dc3545;
    font-size: 14px;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    height: 38px;
}

.btn-edit:hover, .btn-delete:hover, .category svg:hover {
    cursor: pointer;
}

@media (max-width: 900px) {
    .charts {
        grid-template-columns:1fr;
    }


    .main {
        padding: 28px;
    }
}