.nav-category-menu {
    display: none;
}

.button-control {
    grid-template-columns: repeat(auto-fit, minmax(200px, min(352px, 33%)));
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.btn-edit {
    background: #198754;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 12px 16px;
    width: 130px;
    height: 38px;
}

.btn-delete {
    background: #dc3545;
    font-size: 14px;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    width: 137px;
    height: 38px;
}

.btn-edit:hover, .btn-delete:hover, .category svg:hover {
    cursor: pointer;
}

.top-controls {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap
}

.btn-filter {
    width: 100px;
    padding: 9px 10px 9px 10px;
    border-radius: 8px;
    border: 1px solid #6C757D;
    background: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #6c757d;
}

.btn-filter:hover {
    background: #6c757d;
    color: #fff;
}

.check-date span {
    margin-right: 17px;
}

.check-date a {
    margin-right: 27px;
}

.charts {
    display: grid;
    grid-template-columns:1fr 1fr;
    /*gap: 50px;*/
    align-items: start
}

.card {
    /*background: var(--panel);*/
    /*padding: 22px;*/
    /*border-radius: 12px;*/

    /*box-shadow: 0 6px 30px rgba(16, 24, 40, 0.03)*/
}

.card h3 {
    text-align: center;
    margin: 0 0 20px;
    font-size: 20px;
    color: #5b3b89;
    font-weight: 600
}

.card:first-child .pie {
    border-right: 1px solid #d9d9d9;;
}

.pie {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center
}

.card:first-child .pie-sample {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background: conic-gradient(#e53935 0 25%, #ff9800 25% 64%, #ffca28 64% 78%, #06c2a8 78% 92%, #1877f2 92% 100%);
    box-shadow: 0 2px 8px rgba(16, 24, 40, 0.05)
}

.card:nth-child(2) .pie-sample {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background: conic-gradient(#ffca28 0 36%, #06c2a8 36% 68%, #1877f2 68% 88%, #ff9800 88% 98%, #e53935 98% 100%);
    box-shadow: 0 2px 8px rgba(16, 24, 40, 0.05)
}

.legend {
    display: flex;
    /*gap: 12px;*/
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap
}

.legend .item {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    margin-right: 15px;
}

.legend .color {
    width: 35px;
    height: 10px;
}

.grid-table {
    display: grid;
    grid-template-columns: 133px 1fr 1fr 1fr 1fr 2.5fr; /* разные ширины колонок */
    grid-template-rows: 60px auto;
    gap: 2px;
    border-top: 1px solid var(--border);
    overflow: hidden;
}

.grid-header {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #052c65;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid var(--border);
}

.grid-cell {
    background-color: white;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border);
    font-size: 16px;
    line-height: 144%;
    text-align: center;
    color: #000;
}

.grid-cell:nth-child(6n) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.grid-cell.red {
    color: red;
}

.grid-cell.green {
    color: green;
}

.popup-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.popup-container {
    padding: 40px 40px 40px 40px;
    text-align: center;
    width: 530px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;

}

.popup-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.btn-edit.popup-ed {
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #198754;
    border-radius: 5px;
    padding: 12px 16px;
    width: 111px;
    height: 38px;
    box-sizing: border-box;
}

.btn-delete.popup-del {
    background: #dc3545;
    border-radius: 5px;
    padding: 12px 16px;
    width: 107px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    height: 38px;
}

@media (max-width: 900px) {
    .charts {
        grid-template-columns:1fr;
    }


    .main {
        padding: 28px;
    }
}