.nav-category-menu {
    display: none;
}

.button-control {
    grid-template-columns: repeat(auto-fit, minmax(200px, min(352px, 33%)));
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.btn-edit {
    background: #198754;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 12px 16px;
    width: 130px;
    height: 38px;
}

.btn-delete {
    background: #dc3545;
    font-size: 14px;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    width: 137px;
    height: 38px;
}

.btn-edit:hover, .btn-delete:hover, .category svg:hover {
    cursor: pointer;
}

.top-controls {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap
}

.btn-filter {
    width: 100px;
    padding: 9px 10px 9px 10px;
    border-radius: 8px;
    border: 1px solid #6C757D;
    background: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #6c757d;
}

.btn-filter:hover {
    background: #6c757d;
    color: #fff;
}

.check-date span {
    margin-right: 17px;
}

.check-date a {
    margin-right: 27px;
}



.grid-table {
    display: grid;
    grid-template-columns: 133px 1fr 1fr 1fr 1fr 2.5fr; /* разные ширины колонок */
    grid-template-rows: 60px auto;
    gap: 2px;
    border-top: 1px solid var(--border);
    overflow: hidden;
}

.grid-header {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: #052c65;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid var(--border);
}

.grid-cell {
    background-color: white;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border);
    font-size: 16px;
    line-height: 144%;
    text-align: center;
    color: #000;
}

.grid-cell:nth-child(6n) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.grid-cell.red {
    color: red;
}

.grid-cell.green {
    color: green;
}


@media (max-width: 900px) {
    .charts {
        grid-template-columns:1fr;
    }


    .main {
        padding: 28px;
    }
}