.nav-category-menu {
    display: block;
}


.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, min(352px, 33%)));
    /*grid-template-columns: 1fr 1fr 1fr;*/
    gap: 20px;
}

.category {
    border: 1px solid #CED4DA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category h2 {
    padding-bottom: 10px;
    margin: 0;
}

.category:last-child {
    align-items: center;

}

.category-container {
    padding: 20px 0 20px 20px;
}

.button-control {
    grid-template-columns: repeat(auto-fit, minmax(200px, min(352px, 33%)));
    display: flex;
    align-items: center;
}

.btn-edit {
    background: #0d6efd;
    border-radius: 5px;
    padding: 11px 16px;
    width: 134px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: none;
    margin-right: 10px;
    height: 38px;
}

.btn-delete {
    border-radius: 5px;
    padding: 12px 16px;
    width: 88px;
    background: #dc3545;
    font-size: 14px;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    height: 38px;
}

.btn-edit:hover, .btn-delete:hover, .category svg:hover {
    cursor: pointer;
}

.popup-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.popup-container {
    padding: 40px 40px 40px 40px;
    text-align: center;
    width: 530px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;

}

.popup-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.btn-edit.popup-ed {
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #198754;
    border-radius: 5px;
    padding: 12px 16px;
    width: 111px;
    height: 38px;
    box-sizing: border-box;
}

.btn-delete.popup-del {
    background: #dc3545;
    border-radius: 5px;
    padding: 12px 16px;
    width: 107px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    height: 38px;
}

@media (max-width: 900px) {
    .charts {
        grid-template-columns:1fr;
    }


    .main {
        padding: 28px;
    }
}