        <h2 class="title">Создание дохода/расхода</h2>
            <div class="category">
                <input class="category-input" type="text" placeholder ="Тип...">
                <input class="category-input" type="text" placeholder ="Категория...">
                <input class="category-input" type="text" placeholder ="Сумма в $...">
                <input class="category-input" type="text" placeholder ="Дата...">
                <input class="category-input" type="text" placeholder ="Комментарий...">
                <div class="button-control">
                    <button class="btn-edit">Создать</button>
                    <a href="/operations"><button class="btn-delete">Отмена</button></a>
                </div>
            </div>

